@page
@model yamabiko1145.Pages.GridSystemModel
@{
}
<h4>Grid System.</h4>
<h6>row</h6>
<div class="row">
    <h6>col-4 ✖️ 3</h6>
    <div class="col-4">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
        <p>
            <input type="button" class="btn btn-primary" value="none" />
            <input type="button" class="btn btn-primary" value="none" />
            <input type="button" class="btn btn-primary" value="none" />
        </p>
    </div>
    <div class="col-4">
        <p>
            <input type="button" class="btn btn-secondary col-12" value="col-12" />
        </p>
        <p>
            <input type="button" class="btn btn-secondary col-6" value="col-6" />
        </p>
    </div>
    <div class="col-4">
        <p>
            <input type="button" class="btn btn-success col-12" value="col-12" />
        </p>
        <p>
            <input type="button" class="btn btn-success col-4" value="col-4" />
        </p>
    </div>
    <hr />
    <h6>col-3 ✖️ 4</h6>
    <div class="col-3">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
    <div class="col-3">
        <p>
            <input type="button" class="btn btn-secondary col-12" value="col-12" />
        </p>
        <p>
            <input type="button" class="btn btn-secondary" value="none" />
            <input type="button" class="btn btn-secondary" value="none" />
            <input type="button" class="btn btn-secondary" value="none" />
        </p>
    </div>
    <div class="col-3">
        <p>
            <input type="button" class="btn btn-success col-12" value="col-12" />
        </p>
        <p>
            <input type="button" class="btn btn-success col-12" value="col-12" />
        </p>
    </div>
    <div class="col-3">
        <p>
            <input type="button" class="btn btn-danger col-12" value="col-12" />
        </p>
    </div>
    <hr />
    <h6>col-2 ✖️ 6</h6>
    <div class="col-2">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
    <div class="col-2">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
    <div class="col-2">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
    <div class="col-2">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
    <div class="col-2">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
    <div class="col-2">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
    <hr />
    <h6>col-2 col-10</h6>
    <div class="col-2">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
    <div class="col-10">
        <p>
            <input type="button" class="btn btn-primary col-12" value="col-12" />
        </p>
    </div>
</div>
