@page
@model PrivacyModel
@{
    ViewData["Title"] = "Login Form sample";
}
<h4>@ViewData["Title"]</h4>

<form>
    @* Wait Dialog *@
    <div class="modal fade" id="WaitDaialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">お待ちください</h5>
                </div>
                <div class="modal-body">
                    処理中
                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden">処理中...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <p>col-1 col-5 col-6</p>
        <div class="mb-3 row">
            <label for="InputEmail" class="col-sm-1 col-form-label">アカウント</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Email" placeholder="email@example.com" />
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-1 col-form-label">パスワード</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="inputPassword" placeholder="password" />
            </div>
            <div class="col-sm-6"></div>
        </div>
        <!-- 2 column grid layout for inline styling -->
        <div class="mb-3 row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                    <label class="form-check-label" for="form1Example3"> 保存する </label>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <input type="submit" value="ログイン" class="btn btn-primary col-sm-3" data-bs-toggle="modal" data-bs-target="#WaitDaialog" />
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <a href="#!">パスワードを忘れた?</a>
            </div>
            <div class="col-sm-6"></div>
        </div>
        <hr />
        <a>form-floating sample.</a>
        <a>col-6 col-6</a>
        <div class="mb-3 row">
            <div class="form-floating col-sm-6">
                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com">
                <label for="floatingInputValue text-gray">　アカウント</label>
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="mb-3 row">
            <div class="form-floating col-sm-6">
                <input type="password" class="form-control" id="floatingPassword" placeholder="パスワード">
                <label for="floatingPassword text-gray">　パスワード</label>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</form>
